{% extends 'base.html.twig' %}

{% block navlinks %}
    <li><a href="{{ path('homepage') }}">Homepage</a></li>
    {% dump(team) %}
    <li class="active"><a href="{{ path("teams", {"teamId": team.id} ) }}">{{ team.name }}</a></li>
{% endblock navlinks %}

{% block body %}
    Country:
    <br>
    {% if team.country is not null %}
        <a href="{{ path('edit-country', {"teamId": team.id, "countryId": team.country.id} )}}" class="btn btn-primary">Edit</a>
        <a href="{{ path('countries', {"teamId": team.id, "countryId": team.country.id} ) }}">{{ team.country.name }}</a>
    {% endif %}
    {% if team.country is null %}
        <a href="{{ path('create-country', {"teamId": team.id} )}}" class="btn btn-success">Add country</a>
    {% endif %}
    <hr>
    Players:
    <br>
    {% for player in team.players %}
        <a href="{{ path('edit-player', {"teamId": team.id, "playerId": loop.index} )}}" class="btn btn-primary">Edit</a>
        <a href="{{ path('players', {"teamId": team.id, "playerId": loop.index} ) }}">Player {{ loop.index }}: {{ player.name }} {{ player.lastname }}</a><br>
    {% endfor %}
    <br>
    <a href="{{ path('create-player', {"teamId": team.id} )}}" class="btn btn-success">Add player</a>
    <hr>
    Coaching stuff:
    <br>
    {% for coach in team.coaches %}
        {% if loop.index == 1 %}
            <a href="{{ path('edit-coach', {"teamId": team.id, "coachId": 1} )}}" class="btn btn-primary">Edit</a>
            <a href="{{ path("coaches", { "teamId": team.id, "coachId": 1} ) }}">Head coach: {{ coach.name }} {{ coach.lastname }}</a><br>
        {% else %}
            <a href="{{ path('edit-coach', {"teamId": team.id, "coachId": loop.index} )}}" class="btn btn-primary">Edit</a>
            <a href="{{ path('coaches', {"teamId": team.id, "coachId": loop.index} ) }}">Assistant coach {{ loop.index }}: {{ coach.name }} {{ coach.lastname }}</a><br>
        {% endif %}
    {% endfor %}
    <br>
    <a href="{{ path('create-coach', {"teamId": team.id} )}}" class="btn btn-success">Add coach</a>
    <hr>
    Last games:
    <br>
    {% for game in team.games %}
        {% if loop.index < 6 %}
            <a href="{{ path('edit-game', {"teamId": team.id, "gameId": loop.index} )}}" class="btn btn-primary">Edit</a>
            <a href="{{ path('games', {"teamId": team.id, "gameId": loop.index} ) }}">Game {{ loop.index }}</a><br>
        {% endif %}
    {% endfor %}
    <br>
    <a href="{{ path('create-game', {"teamId": team.id} )}}" class="btn btn-success">Add game</a>
    <hr>
    <a href="{{ path('homepage') }}" class="btn btn-default">To main menu</a>
{% endblock %}
