{% extends 'base.html.twig' %}

{% block navlinks %}
    <li><a href="{{ path('homepage') }}">Homepage</a></li>
    <li class="active"><a href="{{ path("teams", {"teamname": teamname} ) }}">{{ country }}</a></li>
{% endblock navlinks %}

{% block body %}
    <p>
        Country:
        <a href="{{ path('countries', {"teamname": teamname, "country": teamname} ) }}">{{ country }}</a>
    </p>
    <hr>
    Players:
    <br>
    <a href="/'. $teamname. '/player1">Player 1</a><br>
    <a href="/'. $teamname. '/player2">Player 2</a><br>
    <a href="/'. $teamname. '/player3">Player 3</a><br>
    <a href="/'. $teamname. '/player4">Player 4</a><br>
    <a href="/'. $teamname. '/player5">Player 5</a><br>
    <a href="/'. $teamname. '/player6">Player 6</a><br>
    <a href="/'. $teamname. '/player7">Player 7</a><br>
    <a href="/'. $teamname. '/player8">Player 8</a><br>
    <a href="/'. $teamname. '/player9">Player 9</a><br>
    <a href="/'. $teamname. '/player10">Player 10</a><br>
    <a href="/'. $teamname. '/player11">Player 11</a><br>
    <hr>
    Coaching stuff:
    <br>
    <a href="{{ path("coaches", { "teamname": teamname, "id": 1} ) }}">Head coach</a><br>
    <a href="{{ path("coaches", { "teamname": teamname, "id": 2} ) }}">Assistant coach 1</a><br>
    <a href="{{ path("coaches", { "teamname": teamname, "id": 3} ) }}">Assistant coach 2</a><br>
    <hr>
    Last games:
    <br>
    <a href="/'. $teamname. '/game1">Game 1</a><br>
    <a href="/'. $teamname. '/game2">Game 2</a><br>
    <a href="/'. $teamname. '/game3">Game 3</a><br>
    <hr>
    <a href="{{ path('homepage') }}" class="btn btn-default">To main menu</a>
{% endblock %}
