{% extends 'base.html.twig' %}

{% block navlinks %}
    <li><a href="{{ path('homepage') }}">Homepage</a></li>
    <li><a href="{{ path("teams", {"teamId": player.team.id} ) }}">{{ player.team.name }}</a></li>
    <li class="active"><a href="{{ path("players", { "teamId": player.team.id, "playerId": id} ) }}">{{ player.name }} {{ player.lastname }}</a></li>
{% endblock navlinks %}

{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <br>
    <input type="submit" value="Update Player" class="btn btn-primary" />
    {{ form_end(edit_form) }}

    <br>
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <input type="submit" value="Delete Player" class="btn btn-danger" />
    {{ form_end(delete_form) }}

    <br>
    <a href="{{ path("teams", {"teamId": player.team.id} ) }}" class="btn btn-default">Back to team {{ player.team.name }}</a>
{% endblock %}