{% extends 'base.html.twig' %}


{% block navlinks %}
    <li><a href="{{ path('homepage') }}">Homepage</a></li>
    <li><a href="{{ path("teams", {"teamId": player.team.id} ) }}">{{ player.team.name }}</a></li>
    <li class="active"><a href="{{ path("players", { "teamId": player.team.id, "playerId": id} ) }}">{{ player.name }} {{ player.lastname }}</a></li>
{% endblock navlinks %}

{% block body %}

    <p>First name: {{ player.name }}.</p>
    <p>Last name: {{ player.lastname }}.</p>
    <p>Number: {{ player.number }}.</p>
    <p>Birthday: {{ player.birthday|date("m/d/Y") }}.</p>
    <p>Nationality: {{ player.nationality }}.</p>
    <p style="width: 50%">Summary: {{ player.summary }}</p>
    <a href="{{ path('homepage') }}" class="btn btn-default">To main menu</a>
{% endblock %}
