{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li>
        <a href="{{ path('teams', {"teamname": "Albania"} )}}">Albania National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Austria"} )}}">Austria National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Belgium"} )}}">Belgium National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Croatia"} )}}">Croatia National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Czech_Republic"} )}}">Czech Republic National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "England"} )}}">England National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "France"} )}}">France National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Germany"} )}}">Germany National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Hungary"} )}}">Hungary National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Iceland"} )}}">Iceland National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Italy"} )}}">Italy National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Northern_Ireland"} )}}">Northern Ireland National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Poland"} )}}">Poland National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Portugal"} )}}">Portugal National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Republic_Of_Ireland"} )}}">Republic Of Ireland National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Romania"} )}}">Romania National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Russia"} )}}">Russia National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Slovakia"} )}}">Slovakia National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Spain"} )}}">Spain National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Sweden"} )}}">Sweden National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Switzerland"} )}}">Switzerland National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Turkey"} )}}">Turkey National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Ukraine"} )}}">Ukraine National Football Team</a>
    </li>
    <li>
        <a href="{{ path('teams', {"teamname": "Wales"} )}}">Wales National Football Team</a>
    </li>
</ul>
{% endblock %}